# Node
node_modules/

# React Native
ios/Pods/
ios/build/
android/.gradle/
android/app/build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*.local

# IDE files
.idea/
.vscode/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Misc
*.keystore
.expo/
.expo-shared/
*.iml
dist/
build/
*.hprof
*.pack
